# iterating backwards
for i in range(5 ,0, -1):

In [1]:
# iterating over a dictionary
student = {"Name" : "Alice" , "age" : 21 , "Grade" : "A"}
for key, value in student.items():
   print(f"{key}: {value}")

Name: Alice
age: 21
Grade: A

In [2]:
# print numbers from 1 to 5 
num = 1
while num <= 5:
    print(num)
    num += 1 # Increment to avoid infinite loop

1
2
3
4
5

In [3]:
# Negative step value
for i in range(10,0,-1):
     print(i)

10
9
8
7
6
5
4
3
2
1

In [4]:
#using a step value
for i in range(1,10,2):
     print(i)

1
3
5
7
9

control keywords: break and continue and pas.
break is used to exit the loop , and continue is used to skip the current situation.

In [6]:
# `break` example
for i in range(10):
    if i == 5:
        break
    print(i) # Stops printing when i is 5

0
1
2
3
4

In [8]:
# `continue ` example
for i in range(10):
    if i % 2 == 0:
        continue # Skip even  numbers.
    print(i)

1
3
5
7
9

# nested loops
you can nest one loop imside another.

In [9]:
for i in range(3):
    for j in range(2):
        print(f"i: {i}, j: {j}")

i: 0, j: 0
i: 0, j: 1
i: 1, j: 0
i: 1, j: 1
i: 2, j: 0
i: 2, j: 1

#loop to print only even numbers from 1 to 10

In [10]:
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [ ]:
for i in range(3):
    if i == 3:
        break
    print(i)
else:
    print("Loop completed without break.") # This won't print

0
1
2
Loop completed without break.

In [16]:
for i in range(4):
    if i == 3:
        break
    print(i)
else:
    print("Loop completed without break.") # This won't print

0
1
2

In [ ]:
# Using a for loop to calculate the sum of numbers from 1 to 100.
total_sum = 0
for i in range(1, 101): # Range is from 1 to 100
    total_sum += i
print("Sum of numbers from 1 to 100 :", total_sum)

Sum of numbers from 1 to 100 : 5050

In [ ]:
# using a while loop to calculate the sum of all odd numbers between 1 and

In [17]:
list_example = [1,2,3,4,5]
print(list_example)

print(list_example.index(3))

list_example.append(6) # adds an element at the end.
print(list_example)
list_example.remove(3) #removes the first occurence of an element
print(list_example)
list_example.pop() # removes the last element aand returns it
print(list_example)
list_example.sort() # sorts the list in ascending order
print(list_example)
list_example.reverse() # reverse the list
print(list_example)
index=list_example.index(4)
print(index) # finds the index of the element (returns the first index)
print(list_example)
list_example = [1,2,3,4,5, "name"]
print(list_example)

[1, 2, 3, 4, 5]
2
[1, 2, 3, 4, 5, 6]
[1, 2, 4, 5, 6]
[1, 2, 4, 5]
[1, 2, 4, 5]
[5, 4, 2, 1]
1
[5, 4, 2, 1]
[1, 2, 3, 4, 5, 'name']

In [1]:
# print numbers 1 to 100 using whi8le loop.
i = 1
while i <= 100:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [2]:
# print numbers from 100 to 1 using while loop.
i = 100
while i >= 1:
    print(i)
    i -= 1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [4]:
# print the element of the following using a for loop.
nums = [1,2,3,4,5,6,7,8,9,10]
for val in nums:
    print(val)

1
2
3
4
5
6
7
8
9
10

In [5]:
# print the multiplication table of number n using while loop.
n = int(input("Enter a number :"))
i = 1
while i <= 10:
    print(n * i)
    i += 1

12
24
36
48
60
72
84
96
108
120

In [6]:
fruits = ["apple", "banana", "cherry", "grapes"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry
grapes

In [7]:
vegetables = ("potato", "tomato", "pumpkin", "ladyfinger")
for veg in vegetables:
    print(veg)

potato
tomato
pumpkin
ladyfinger

In [8]:
#print numbers from 1 to 10
for i in range(1,11):
   print(i)

1
2
3
4
5
6
7
8
9
10

In [12]:
# print numbers from 10 to 1.as_integer_ratio
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [13]:
# multiplication
n = int(input("Enter a number :"))
for i in range(1,11):
    print(n * i)

2
4
6
8
10
12
14
16
18
20

In [18]:
# divison
n = int(input("enter a number :"))
for i in range(1 ,5):
    print( n / i)

12.0
6.0
4.0
3.0

In [20]:
# sum

n = 5
for i in range(1, n+1):
    sum += i

In [ ]:
# WAP to find sum of first natural numbers.
n = 5
sum = 0
i = 1
while i <= n:
  sum += 1
i += 1
print("The total sum =" ,sum)

In [ ]:
# Operations on  Lists
# 1.Indexing : Accessing individual elements of a list by their position (index)

list_example = [10,20,30,40,50]
print("Indexing Example :")
print("First element :", list_example[0]") 
      print("last element :", list_example[-1]") #4

SyntaxError: unterminated string literal (detected at line 6) (764990899.py, line 6)

In [4]:
# 2.slicing : extracting a portion of the list by specifying a start and end index
print("\n slicing Example :")
print("Elements from index 1 to 3:", list_example[1:4]) # output :[20,30,40]
print("Ëlements from beginning to index 2:," list_example[:3]) #output:[10,20,30]
print("Ëlements from index 2 to the end:", list_example[2:]) #output:[30,40,50]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2213800060.py, line 4)

In [ ]:
set_example = {1, 2, 3, 4, 5}
print(set_example)